In [1]:
import algorithm as al
import numpy as np
import pandas as pd

In [2]:
# train = pd.read_excel('../archive/Raisin_Dataset.xlsx')
train = pd.read_csv('../../../GR1/occupancy_train.csv')
train

      Temperature  Humidity  Light         CO2  HumidityRatio  Occupancy
0           23.18   27.2720  426.0  721.250000       0.004793          1
1           23.15   27.2675  429.5  714.000000       0.004783          1
2           23.15   27.2450  426.0  713.500000       0.004779          1
3           23.15   27.2000  426.0  708.250000       0.004772          1
4           23.10   27.2000  426.0  704.500000       0.004757          1
...           ...       ...    ...         ...            ...        ...
8138        21.05   36.0975  433.0  787.250000       0.005579          1
8139        21.05   35.9950  433.0  789.500000       0.005563          1
8140        21.10   36.0950  433.0  798.500000       0.005596          1
8141        21.10   36.2600  433.0  820.333333       0.005621          1
8142        21.10   36.2000  447.0  821.000000       0.005612          1

[8143 rows x 6 columns]

In [3]:
train = train.to_numpy()
R_train = train[:, 0:-1]
R_train
# R_train = np.random.rand(100, 10)

array([[2.31800000e+01, 2.72720000e+01, 4.26000000e+02, 7.21250000e+02,
        4.79298800e-03],
       [2.31500000e+01, 2.72675000e+01, 4.29500000e+02, 7.14000000e+02,
        4.78344100e-03],
       [2.31500000e+01, 2.72450000e+01, 4.26000000e+02, 7.13500000e+02,
        4.77946400e-03],
       ...,
       [2.11000000e+01, 3.60950000e+01, 4.33000000e+02, 7.98500000e+02,
        5.59563900e-03],
       [2.11000000e+01, 3.62600000e+01, 4.33000000e+02, 8.20333333e+02,
        5.62144900e-03],
       [2.11000000e+01, 3.62000000e+01, 4.47000000e+02, 8.21000000e+02,
        5.61206400e-03]])

In [4]:
Nd = al.normalization(R_train, 0, 1)
Nd

array([[1.        , 0.47053302, 0.27549041, 0.190933  , 0.55731839],
       [0.99282297, 0.47033188, 0.27775383, 0.18644592, 0.55480727],
       [0.99282297, 0.46932618, 0.27549041, 0.18613647, 0.55376121],
       ...,
       [0.50239234, 0.86490111, 0.28001725, 0.23874362, 0.76843756],
       [0.50239234, 0.87227623, 0.28001725, 0.25225643, 0.7752263 ],
       [0.50239234, 0.86959437, 0.28907092, 0.25266904, 0.77275778]])

In [ ]:
dis = al.distance(Nd)
dis

In [ ]:
prod = al.product(dis,Nd)
prod

In [ ]:
M = al.membershipValue(prod)
M

In [ ]:
N = al.nonMembershipValue(M, 0.45)
N

In [ ]:
H = al.hesitancyValue(N, 0.45)
H

In [ ]:
M, N, H = al.method1(R_train, 0.45)

M = np.around(M, 3)
N = np.around(N, 3)
H = np.around(H, 3)

print ("M = ",M)
print ("\nN = ",N)
print ("\nH = ",H)

In [ ]:
U, S = al.method3(R_train, 2, 1.7, 0.35)